html {
    margin: 0;
    padding: 0;

    font-size: 62.5%
}

body {
   background: #1C1C1C;
   color: white;
   width: 100vw;
   height: 100vh;
   font-family: 'Inter', sans-serif
}

#container {
    width: 30%;
    height: 70%;
    margin: 0 auto 0 auto;
    background: none;
}

#top-half {
    background: #6943FF;
    height: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    font-size: 3rem;
}

#user-input {
    height: 35%;
    width: 25%;
    background: none;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 6rem;
    text-align: center;
    font-family: inherit;
    font-weight: 800;
    color: white;
    display: inherit;
    justify-content: center;;
    align-items: inherit;
}

#convert-btn {
    font-family: inherit;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 20%;
    font-size: 1.6rem
}

#bottom-half {
    background: #1F2937;
    height: 65%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.conversions {
    background: #273549;
    width: 90%;
    height: 22%;
    text-align: center;
}

.conversion-title {
    color: #CCC1FF;
    font-weight: 600;
    font-size: 2rem;
}

.conversion-p{
    font-weight: 400;
    font-size: 1.8rem;
}